@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Add the correct sizing in Firefox.
  * 2. Show the overflow in Edge 18- and IE.
  */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: bottom;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * Collapse border spacing in all browsers (opinionated).
  */
table {
  border-collapse: collapse;
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * 1. Remove the tapping delay in IE 10.
  * 2. Remove the tapping delay on clickable elements
       in all browsers (opinionated).
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy=true] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

*, *::before, *::after {
  cursor: none !important;
}

::selection {
  background-color: var(--color-gold);
  color: var(--text);
}

::-moz-selection {
  background-color: var(--color-gold);
  color: var(--text);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  color: var(--text);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-cream);
}
body.is-menu-open {
  overflow: hidden;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}

.dm-mono {
  font-family: "DM Mono", monospace;
  font-style: normal;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
@media (max-width: 1024px) {
  .inner {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .inner {
    padding: 0 20px;
  }
}

:root {
  /* Color (汎用) */
  --color-cream: #fffdf3;
  --color-dark: #3e4446;
  --color-gold: #cfa252;
  /* Text */
  --text: #333;
  --text-accent: #cfa252;
  --text-light: #fffdf3;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s;
  z-index: 10;
}
@media (max-width: 1024px) {
  .l-header {
    padding: 16px 40px;
  }
}
@media (max-width: 768px) {
  .l-header {
    padding: 16px 20px;
  }
}
.l-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 253, 243, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.l-header.is-hidden {
  transform: translateY(-100%);
}
@media (max-width: 768px) {
  .l-header__nav {
    display: none;
  }
}
.l-header__menu {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.l-header__item-link {
  position: relative;
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .l-header__item-link:hover {
    opacity: 1;
  }
  .l-header__item-link:hover::before {
    transform: scaleX(1);
  }
}
.l-header__item-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-gold);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.l-header__burger {
  display: none;
  position: relative;
  width: 100%;
  max-width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--color-cream);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 15px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  flex: 0 0 auto;
  transition: 0.3s;
}
.l-header__burger.is-open .l-header__burger-bar:nth-of-type(1) {
  top: 50%;
  transform: rotate(30deg);
}
.l-header__burger.is-open .l-header__burger-bar:nth-of-type(2) {
  top: 50%;
  transform: rotate(-30deg);
}
@media (max-width: 768px) {
  .l-header__burger {
    display: block;
  }
}
.l-header__burger-bar {
  position: absolute;
  display: inline-block;
  left: 50%;
  translate: -50%;
  width: 24px;
  height: 1px;
  background: #333;
  transition: all 0.3s;
}
.l-header__burger-bar:nth-of-type(1) {
  top: calc(50% - 4px);
}
.l-header__burger-bar:nth-of-type(2) {
  top: calc(50% + 4px);
}
.l-header__burger-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: var(--color-cream);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
}
.l-header__burger-content.is-open {
  opacity: 1;
  visibility: visible;
}
.l-header__burger-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}
.l-header__burger-body {
  padding: 20px;
}
.l-header__burger-menu {
  margin: 0;
}
.l-header__burger-item {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.l-header__burger-item-link {
  position: relative;
  display: block;
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.7;
  transition: 0.3s;
  padding: 16px 0;
}
@media (hover: hover) and (pointer: fine) {
  .l-header__burger-item-link:hover {
    opacity: 1;
    padding: 16px 20px;
  }
  .l-header__burger-item-link:hover::before {
    transform: scaleX(1);
  }
  .l-header__burger-item-link:hover::after {
    right: 20px;
  }
}
.l-header__burger-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(207, 161, 82, 0.3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: -1;
}
.l-header__burger-item-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%) skewX(50deg);
  width: 40px;
  height: 6px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  transition: 0.3s;
}

.l-footer {
  padding: 120px 0 0;
}
@media (max-width: 768px) {
  .l-footer {
    padding: 80px 0 0;
  }
}
.l-footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .l-footer__content {
    padding-bottom: 56px;
  }
}
.l-footer__menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.l-footer__item-link {
  position: relative;
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.l-footer__item-link:hover {
  opacity: 1;
}
.l-footer__item-link:hover::before {
  transform: scaleX(1);
}
.l-footer__item-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-gold);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.l-footer__copyright {
  background-color: var(--color-dark);
  padding: 24px 20px;
}
.l-footer__copyright-text {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--text-light);
  opacity: 0.7;
  text-align: center;
}

.l-page-header {
  padding-top: 63px;
}
.l-page-header__content {
  min-height: 380px;
  display: flex;
  align-items: center;
}
.l-page-header__title {
  margin: 0;
  font-size: clamp(2.5rem, 6vw, 6rem);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: var(--text);
}

.c-site-title {
  margin: 0;
  display: inline-block;
}
.c-site-title__link {
  position: relative;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  text-decoration: none;
  color: var(--text);
  text-transform: capitalize;
  transition: opacity 0.3s;
}
.c-site-title__link:hover {
  opacity: 0.7;
}
.c-site-title__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #333;
}
.c-site-title__link--accent {
  color: var(--text-accent);
}

.c-title {
  display: flex;
  align-items: baseline;
  gap: 24px;
  margin: 0;
  font-size: clamp(2.5rem, 6vw, 6rem);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--text);
  text-transform: capitalize;
}
.c-title__line {
  flex: 1;
  background-color: var(--color-dark);
  height: 1px;
}
.c-title__page {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.c-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.7;
  letter-spacing: 0.05em;
  color: var(--text);
}
@media (max-width: 599px) {
  .c-text {
    font-size: 15px;
  }
}

.c-button__link {
  position: relative;
  display: inline-block;
  padding: 14px 80px 14px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}
@media (max-width: 599px) {
  .c-button__link {
    font-size: 15px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .c-button__link:hover::before {
    width: 52px;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 599px) {
  .c-button__link:hover::before {
    width: 44px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .c-button__link:hover::after {
    right: 20px;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 599px) {
  .c-button__link:hover::after {
    right: 16px;
  }
}
.c-button__link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 48px;
  aspect-ratio: 1;
  border: 1px solid #333;
  border-radius: 50%;
  transition: 0.3s;
}
@media (max-width: 599px) {
  .c-button__link::before {
    width: 40px;
  }
}
.c-button__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%) skewX(50deg);
  width: 48px;
  height: 6px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  transition: 0.3s;
}
@media (max-width: 599px) {
  .c-button__link::after {
    width: 40px;
    right: 20px;
  }
}
.c-button__link--light {
  color: var(--text-light);
}
.c-button__link--light::before {
  border: 1px solid var(--color-cream);
}
.c-button__link--light::after {
  border-bottom: 1px solid var(--color-cream);
  border-right: 1px solid var(--color-cream);
}

.c-cursor {
  position: fixed;
  width: 8px;
  aspect-ratio: 1;
  background-color: var(--color-gold);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s, background-color 0.3s;
}
.c-cursor__ring {
  position: fixed;
  width: 36px;
  aspect-ratio: 1;
  border: 1px solid rgba(207, 162, 82, 0.5);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
  transition: width 0.3s, border-color 0.3s;
}

body.is-hove .c-cursor {
  width: 0;
}

body.is-hove .c-cursor__ring {
  width: 64px;
  border-color: var(--color-gold);
}

@media (hover: none) and (pointer: coarse) {
  .c-cursor,
  .c-cursor__ring {
    display: none;
  }
}
.c-works__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1280px) {
  .c-works__list {
    gap: 40px 24px;
  }
}
@media (max-width: 599px) {
  .c-works__list {
    grid-template-columns: 1fr;
  }
}
.c-works__item {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
}
.c-works__card {
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--color-cream);
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
  box-shadow: 0 2px 10px rgba(62, 68, 70, 0.3);
}
.c-works__link {
  position: relative;
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
  gap: 0;
  text-decoration: none;
  height: 100%;
}
@media (hover: hover) and (pointer: fine) {
  .c-works__link:hover .c-works__arrow {
    opacity: 1;
  }
  .c-works__link:hover .c-works__img::before {
    opacity: 1;
  }
  .c-works__link:hover img {
    transform: scale(1.1);
  }
}
.c-works__arrow {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  aspect-ratio: 1;
  border: 1px solid var(--color-gold);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
}
.c-works__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) skewX(50deg);
  width: 32px;
  height: 4px;
  border-bottom: 1px solid var(--color-gold);
  border-right: 1px solid var(--color-gold);
  transition: 0.3s;
}
.c-works__img {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.c-works__img::before {
  content: "VIEW DETAIL";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: var(--text-light);
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}
.c-works__img img {
  width: 100%;
  aspect-ratio: 413/239;
  transition: 0.3s;
}
.c-works__title {
  margin: 24px 0 0 0;
  padding: 0 32px;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  color: var(--text);
  text-transform: capitalize;
}
@media (max-width: 1280px) {
  .c-works__title {
    padding: 0 20px;
  }
}
@media (max-width: 599px) {
  .c-works__title {
    font-size: 1.125rem;
  }
}
.c-works__text {
  margin: 16px 0 0 0;
  padding: 0 32px;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: var(--text);
}
@media (max-width: 1280px) {
  .c-works__text {
    padding: 0 20px;
  }
}
@media (max-width: 599px) {
  .c-works__text {
    font-size: 15px;
  }
}
.c-works__meta {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: start;
  gap: 8px 0;
  margin-top: 32px;
  padding: 0 32px 32px;
}
@media (max-width: 1280px) {
  .c-works__meta {
    grid-template-columns: 50px 1fr;
    margin-top: 28px;
    padding: 0 20px 28px;
  }
}
.c-works__term {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--text);
  text-transform: capitalize;
}
.c-works__desc {
  margin: 0;
}
.c-works__tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0 24px;
}
.c-works__tag-item {
  position: relative;
  font-size: 0.875rem;
  letter-spacing: 0;
  color: var(--text);
  text-transform: capitalize;
}
.c-works__tag-item::after {
  content: "/";
  position: absolute;
  top: 0;
  right: -15px;
}
.c-works__tag-item:last-child::after {
  display: none;
}

.c-cta {
  background-image: url(../images/contact-bg.webp);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: var(--color-dark);
  padding: 120px 0;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .c-cta {
    padding: 80px 0;
    margin-bottom: 56px;
  }
}
.c-cta__content {
  background-color: var(--color-cream);
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 56px;
}
@media (max-width: 599px) {
  .c-cta__content {
    padding: 32px 20px 40px;
  }
}
@media (max-width: 599px) {
  .c-cta__content .c-text br {
    display: none;
  }
}
.c-cta__content .c-text + .c-text {
  margin-top: 16px;
}
.c-cta__btn {
  text-align: center;
  margin-top: 24px;
}
.c-cta__btn-link {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--text-light);
  text-decoration: none;
  background-color: var(--color-gold);
  border: 2px solid transparent;
  padding: 8px 40px;
  transition: 0.3s;
  z-index: 0;
}
@media (max-width: 599px) {
  .c-cta__btn-link {
    font-size: 1.75rem;
    padding: 6px 36px;
  }
}
.c-cta__btn-link:hover {
  border: 2px solid var(--color-gold);
  color: var(--text-accent);
}
.c-cta__btn-link:hover::before {
  transform: scaleX(1);
}
.c-cta__btn-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-cream);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: -1;
}

.c-breadcrumb__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.c-breadcrumb__item {
  position: relative;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
.c-breadcrumb__item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  width: 8px;
  aspect-ratio: 1;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: translateY(-50%) rotate(45deg);
}
.c-breadcrumb__item:last-child::after {
  display: none;
}
.c-breadcrumb__link {
  position: relative;
  text-decoration: none;
  color: var(--text);
  opacity: 0.7;
  transition: opacity 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .c-breadcrumb__link:hover {
    opacity: 1;
  }
  .c-breadcrumb__link:hover::before {
    transform: scaleX(1);
  }
}
.c-breadcrumb__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-gold);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.p-mv {
  min-height: 90svh;
  display: flex;
  align-items: center;
  padding: 96px 64px 32px;
}
@media (max-width: 1024px) {
  .p-mv {
    padding: 96px 40px 32px;
  }
}
@media (max-width: 768px) {
  .p-mv {
    padding: 96px 20px 24px;
  }
}
@media (max-width: 599px) {
  .p-mv {
    min-height: 95svh;
  }
}
.p-mv__content {
  width: 100%;
  min-height: calc(90svh - 128px);
  display: flex;
  flex-direction: column;
}
.p-mv__title {
  margin: 0;
  font-size: clamp(4rem, 11vw, 11.25rem);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  opacity: 0;
  transform: translate(-50px, 0);
  animation: appear 1s 0.5s ease-in-out forwards;
}
.p-mv__title-label {
  display: block;
  padding-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.4em;
  color: var(--text-accent);
}
@media (max-width: 599px) {
  .p-mv__title-label {
    font-size: 1.25rem;
  }
}
.p-mv__text {
  position: relative;
  margin: 24px 0 0 0;
  padding: 0 0 48px 104px;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.05em;
  opacity: 0;
  transform: translate(-50px, 0);
  animation: appear 1s 0.9s ease-in-out forwards;
}
@media (max-width: 768px) {
  .p-mv__text {
    padding: 0 0 48px 56px;
  }
}
@media (max-width: 599px) {
  .p-mv__text {
    font-size: 15px;
  }
}
.p-mv__text::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 1px;
  background-color: var(--color-gold);
  top: 26px;
  left: 0;
}
@media (max-width: 768px) {
  .p-mv__text::before {
    width: 40px;
  }
}
@media (max-width: 599px) {
  .p-mv__text::before {
    top: 24px;
  }
}
.p-mv__cta {
  margin: auto 0 0 auto;
  opacity: 0;
  transform: translate(0, 50px);
  animation: appear 1s 1.2s ease-in-out forwards;
}
@media (max-width: 768px) {
  .p-mv__cta {
    margin: auto 0 0 0;
  }
}
.p-mv__cta .c-button {
  margin-top: 10px;
}
@media (max-width: 599px) {
  .p-mv__cta .c-button {
    text-align: right;
  }
}
.p-mv__cta-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.05em;
}
@media (max-width: 599px) {
  .p-mv__cta-text {
    font-size: 15px;
  }
}
@media (max-width: 599px) {
  .p-mv__cta-text br {
    display: none;
  }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.p-top__works {
  padding: 120px 0;
  background-color: var(--color-dark);
}
@media (max-width: 768px) {
  .p-top__works {
    padding: 80px 0;
  }
}
.p-top__works .c-title {
  color: var(--text-light);
}
.p-top__works .c-title__line {
  background-color: var(--color-cream);
}
.p-top__works-read {
  color: var(--text-light);
  margin-top: 16px;
}
.p-top__works-content {
  margin-top: 72px;
}
@media (max-width: 768px) {
  .p-top__works-content {
    margin-top: 56px;
  }
}
.p-top__works-content .c-button {
  margin-top: 40px;
  text-align: right;
}
.p-top__about {
  padding: 120px 0;
}
@media (max-width: 768px) {
  .p-top__about {
    padding: 80px 0;
  }
}
.p-top__about-content {
  max-width: 1080px;
  margin: 72px auto 0;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 72px;
}
@media (max-width: 1024px) {
  .p-top__about-content {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .p-top__about-content {
    grid-template-columns: 220px 1fr;
    margin: 56px auto 0;
  }
}
@media (max-width: 599px) {
  .p-top__about-content {
    grid-template-columns: 1fr;
  }
}
.p-top__about-img {
  margin: 0;
  width: 100%;
  max-width: 320px;
}
@media (max-width: 599px) {
  .p-top__about-img {
    margin: 0 auto;
  }
}
.p-top__about-img img {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
}
.p-top__about-caption {
  margin-top: 12px;
}
.p-top__about-name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
}
.p-top__about-role {
  margin: 0;
  font-size: 1.125rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--text-accent);
}
.p-top__about-skill-list {
  margin: 48px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
@media (max-width: 599px) {
  .p-top__about-skill-list {
    margin: 32px 0 0 0;
    gap: 8px 20px;
  }
}
.p-top__about-skill-item {
  position: relative;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0;
  border: 1px solid rgba(51, 51, 51, 0.2);
  padding: 8px 24px;
  opacity: 0.7;
  transition: 0.3s;
  z-index: 0;
}
@media (hover: hover) and (pointer: fine) {
  .p-top__about-skill-item:hover {
    opacity: 1;
    border: 1px solid var(--color-gold);
  }
  .p-top__about-skill-item:hover::before {
    transform: scaleX(1);
  }
}
.p-top__about-skill-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-gold);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: -1;
}
.p-top__about-info .c-text + .c-text {
  margin-top: 24px;
}
.p-top__about-info .c-button {
  margin-top: 40px;
  text-align: right;
}
@media (max-width: 599px) {
  .p-top__about-info .c-button {
    margin-top: 24px;
  }
}
.p-top__service {
  padding: 120px 0;
  background-color: var(--color-dark);
}
@media (max-width: 768px) {
  .p-top__service {
    padding: 80px 0;
  }
}
.p-top__service .c-title {
  color: var(--text-light);
}
.p-top__service .c-title__line {
  background-color: var(--color-cream);
}
.p-top__service-content {
  margin-top: 72px;
}
@media (max-width: 768px) {
  .p-top__service-content {
    margin-top: 56px;
  }
}
.p-top__service-content .c-button {
  margin-top: 40px;
  text-align: right;
}
@media (max-width: 599px) {
  .p-top__service-content .c-button {
    margin-top: 24px;
  }
}
.p-top__service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.p-top__service-item {
  border-bottom: 1px solid rgba(255, 253, 243, 0.2);
}
.p-top__service-link {
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr 270px;
  align-items: center;
  gap: 8px 20px;
  padding: 40px 0;
  text-decoration: none;
  transition: 0.3s;
  z-index: 0;
}
@media (max-width: 599px) {
  .p-top__service-link {
    grid-template-columns: 24px 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 24px 0;
    gap: 8px 16px;
  }
}
.p-top__service-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(207, 161, 82, 0.3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: -1;
}
@media (hover: hover) and (pointer: fine) {
  .p-top__service-link:hover {
    padding: 40px 20px;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 599px) {
  .p-top__service-link:hover {
    padding: 24px 16px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .p-top__service-link:hover::before {
    transform: scaleX(1);
  }
  .p-top__service-link:hover .p-top__service-arrow {
    width: 52px;
    opacity: 1;
  }
  .p-top__service-link:hover .p-top__service-arrow::before {
    right: 20px;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 599px) {
  .p-top__service-link:hover .p-top__service-arrow {
    width: 44px;
  }
  .p-top__service-link:hover .p-top__service-arrow::before {
    right: 16px;
  }
}
.p-top__service-num {
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  color: var(--text-accent);
}
@media (max-width: 599px) {
  .p-top__service-num {
    grid-area: 1/1/3/2;
  }
}
.p-top__service-title {
  margin: 0;
  font-size: clamp(28px, 3.5vw, 52px);
  font-weight: 400;
  letter-spacing: 0;
  color: var(--text-light);
}
@media (max-width: 599px) {
  .p-top__service-title {
    grid-area: 1/2/2/3;
  }
}
.p-top__service-text {
  color: var(--text-light);
  opacity: 0.7;
}
@media (max-width: 599px) {
  .p-top__service-text {
    grid-area: 2/2/3/3;
  }
}
.p-top__service-arrow {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  width: 48px;
  aspect-ratio: 1;
  border: 1px solid var(--color-gold);
  border-radius: 50%;
  opacity: 0.4;
  transition: 0.3s;
  z-index: -1;
}
@media (max-width: 599px) {
  .p-top__service-arrow {
    width: 40px;
  }
}
.p-top__service-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%) skewX(50deg);
  width: 48px;
  height: 6px;
  border-bottom: 1px solid var(--color-gold);
  border-right: 1px solid var(--color-gold);
  transition: 0.3s;
}
@media (max-width: 599px) {
  .p-top__service-arrow::before {
    width: 40px;
  }
}

.p-archive {
  padding: 120px 0 0;
}
.p-archive__content .c-text {
  margin-top: 40px;
}
.p-archive__content + .p-archive__content {
  margin-top: 80px;
}
.p-archive__list {
  margin-top: 32px;
}

.u-fade-up {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(10px);
  transition: opacity 1s ease, filter 1s ease, transform 1s ease;
}
.u-fade-up.is-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.u-accent {
  color: var(--text-accent);
}