@use "./../../foundation/_mixin.scss" as mx;

.c-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.7;
  letter-spacing: .05em;
  color: var(--text);
  @include mx.breakpoint(sp) {
    font-size: 15px;
  }
}