@use "./../../foundation/_mixin.scss" as mx;

.p-mv {
  min-height: 90svh;
  display: flex;
  align-items: center;
  padding: 96px 64px 32px;
  &__content {
    width: 100%;
    min-height: calc(90svh - 128px);
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 0;
    font-size: clamp(4.5rem, 11vw, 11.25rem);
    font-weight: 500;
    line-height: 1;
    letter-spacing: .12em;
    text-transform: capitalize;
    opacity: 0;
    transform: translate(-50px, 0);
    animation: appear 1s .5s ease-in-out forwards;
  }
  &__title-label {
    display: block;
    padding-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .4em;
    color: var(--text-accent);
  }
  &__text {
    position: relative;
    margin: 24px 0 0 0;
    padding: 0 0 48px 104px;
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: .05em;
    opacity: 0;
    transform: translate(-50px, 0);
    animation: appear 1s .9s ease-in-out forwards;
    &::before {
      content: "";
      position: absolute;
      width: 72px;
      height: 1px;
      background-color: var(--color-gold);
      top: 50%;
      left: 0;
    }
  }
  &__cta {
    margin: auto 0 0 auto;
    opacity: 0;
    transform: translate( 0, 50px);
    animation: appear 1s 1.2s ease-in-out forwards;
    .c-button {
      margin-top: 10px;
    }
  }
  &__cta-text {
    margin: 0;
    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: .05em;
  }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}