@use "./../../foundation/_mixin.scss" as mx;

.p-top {

  // words
  &__works {
    padding: 120px 0;
    background-color: var(--color-dark);
    .c-title {
      color: var(--text-light);
    }
  }
  &__works-read {
    color: var(--text-light);
    margin-top: 16px;
  }
  &__works-content {
    margin-top: 72px;
    .c-button {
      margin-top: 40px;
      text-align: right;
    }
  }
}